workshop-complete/
slamware_sdk_windows.2.6.0_rtm.20180820/
samples1.2.0/
MySDP_103/
python/.spyproject/
python/google-assistant-sdk/
SlamtecDll/SlamtecDll/Debug/
SlamtecDll/SlamtecDll/Release/
SlamtecDll/Debug/
SlamtecDll/Release/
UseSlamtecDll/
SlamtecDll/ipch/slamtecdll-55d093a1/slamtecdll-49d4498b.ipch
SlamtecDll/SlamtecDll.suo
SlamtecDll/SlamtecDll.sdf
SlamtecDll/SlamtecDll.opensdf
